# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================

venv/
venv311/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# Streamlit
# ==========================

.streamlit/secrets.toml

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log